
.icon-temperatire:before { content: '\e800'; } /* '' */
.icon-umbrella:before { content: '\e801'; } /* '' */
.icon-eclipse:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */